body{
    font-family: 'Trebuchet MS', sans-serif;
      letter-spacing: 0.25px;
  }
.icon:hover{
  color: #eec30c;
}
.a{
  position: absolute;
  margin-top: -90px;
  margin-left: 20px;
  background: white;
  padding-left: 20px ;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 45px;
}
.overlay{
  position: absolute;
  left: 50%;
  top:50%;
transform: translate(-50%,-50%);
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
visibility: hidden;
}
.detail{
    width: 60px;
    height: 60px;
    background: white;
    color: black;
    box-shadow: 0 2px 4px 0 #0000001a, 0 8px 16px 0 #0000001a;
}
.detail:hover{
    color:white;
    background-color: #eec30c;
    transition: all ease 0.3s;
    box-shadow: 0 2px 4px 0 #0000001a, 0 8px 16px 0 #0000001a;
}
.card:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.danhmuc li:hover{
  border-right: 5px solid #e68e12;
  background-color: rgba(255, 254, 174, 0.5);
}
.btn-addtocart {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: none;
  padding: 14px 35px;
  line-height: 22px;
  width: 100%;
  height: 49px;
}
.button {
  position: relative;
  display: inline-block;
  padding: 10px 28px;
  line-height: normal;
  border: 1px solid #d8d0d0;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  -webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  color: #080808;
  overflow: hidden;
}
.card img{
  width: 288px;
  height: 288px;
}